@page "/requesting"
@inject IHttpClientFactory HttpClientFactory
@rendermode InteractiveWebAssembly

<PageTitle>Request Test</PageTitle>

<h3>Requesting</h3>

@if (loading)
{
    <p>Loading...</p>
}
else
{
    <Virtualize Items="people" Context="d">
        <ItemContent>
            <h4>@d.title</h4>
            <p>@d.body</p>
        </ItemContent>
        <EmptyContent><p>Emptys</p></EmptyContent>
    </Virtualize>
}

@code {
    private RequestModel[]? people;
    private HttpClient? _httpClient;

    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        _httpClient = HttpClientFactory.CreateClient("JsonPlaceholder");
        try
        {
            people = await _httpClient.GetFromJsonAsync<RequestModel[]>("posts");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        loading = false;
    }
}
